<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} | Mineweb{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset("bundles/ovskiminecraftwebsite/css/bootstrap.min.css") }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset("bundles/ovskiminecraftwebsite/css/style.css") }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset("bundles/ovskiminecraftwebsite/font-awesome/css/font-awesome.min.css") }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />
    </head>
    <body class="website">
        <p class="beta hidden-xs">
            <strong>/!\ Bêta!</strong>
        </p>
        {% block header %}
            <div id="header-wrapper">
                <header class="container">
                    <ul class="lang-menu desktop hidden-xs">
                        <li class="flag-fr">
                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                Français
                            </a>
                        </li>
                        <li class="flag-en">
                            <a href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}">
                                English
                            </a>
                        </li>
                    </ul>
                    <h1>Clash of Factions</h1>
                    {% block menu %}
                        {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'home'} %}
                    {% endblock %}
                </header>
                <div class="banner container hidden-xs">
                    <img src="/bundles/ovskiminecraftwebsite/images/cube.jpg"/>
                </div>  
            </div>
        {% endblock %}
        <section id="main" class="container">
            {% block body %}
            {% endblock %}
        </section>
        {% block footer %}
            <footer>
                <div class="content container">
                    <p>To chop, pick an axe, not a pickaxe. Okay. I love english but sometimes this is just too much.</p>
                    {% if is_granted("ROLE_ADMIN") %}
                        <div>
                            <a href="{{ path('ovski_forum_administration') }}">
                                {% trans %}Administration Panel{% endtrans %}
                            </a>
                        </div>
                    {% endif %}
                    {% if is_granted("ROLE_MODERATOR") %}
                        <div>
                            <a href="{{ path('ovski_forum_moderation') }}">
                                {% trans %}Moderation Panel{% endtrans %}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("bundles/ovskiminecraftwebsite/js/jquery-2.1.0.js") }}"></script> 
            <script type="text/javascript" src="{{ asset("bundles/ovskiminecraftwebsite/js/bootstrap.min.js") }}"></script>
        {% endblock javascripts %}
    </body>
</html>