{% extends "::base.html.twig" %}

{% block title %}{{ faction | capitalize }} stats | MineWeb{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'null'} %}
{% endblock %}

{% block body %}
    <div class="faction-stats content">
        <h2>{{ faction.name|capitalize }}</h2>

        <h3>Information</h3>
        <ul class="stat-list">
            <li><i class="icon-time"></i> Created at : {{ faction.createdAt | date("m/d/Y") }}</li>
            <li><i class="icon-pencil"></i> Description : {{ faction.description }}</li>
            <li><i class="icon-bolt"></i> Power : {{ faction.power }}</li>
        </ul>

        <h3>Players</h3>
        <ul>
            {% for player in faction.players %}
                <li><a href="{{ path('player_stats', { pseudo: player.pseudo }) }}">{{ player.pseudo }}</a></li>
            {% endfor %}
        </ul>

        {% if faction.truceFactions.first %}
            <h3>Truce</h3>
            <ul>
                {% for faction in faction.truceFactions %}
                    <li><a href="{{ path('faction_stats', { slug: faction.slug }) }}">{{ faction.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if faction.allyFactions.first %}
            <h3>Allies</h3>
            <ul>
                {% for faction in faction.allyFactions %}
                    <li><a href="{{ path('faction_stats', { slug: faction.slug }) }}">{{ faction.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if faction.enemyFactions.first %}
            <h3>Ennemies</h3>
            <ul>
                {% for faction in faction.enemyFactions %}
                    <li><a href="{{ path('faction_stats', { slug: faction.slug }) }}">{{ faction.name }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
