{% extends "::base.html.twig" %}

{% block title %}
    Factions stats
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'stats'} %}
{% endblock %}

{% block body %}
    <div class="factions-stats content">
        <h2><i class="icon-bar-chart"></i> {% trans %}Factions stats{% endtrans %}</h2>

        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'players_stats_paginated'}) }}
        {% endif %}

        <div class="row-fluid">
            <header class="stat-list-head row-fluid">
                <div class="span3">
                    <i class="icon-group"></i>
                    {% trans %}Faction{% endtrans %}
                </div>
                <div class="span2">
                    <i class="icon-trophy"></i>
                    {% trans %}Rank{% endtrans %}
                </div>
                <div class="span2">
                    <i class="icon-star-half-empty"></i>
                    {% trans %}Score{% endtrans %}
                </div>
                <div class="span2">
                    <i class="icon-male"></i>
                    {% trans %}Players{% endtrans %}
                </div>
                <div class="span2">
                    <i class="icon-bolt"></i>
                    {% trans %}Power{% endtrans %}
                </div>
            </header>
            <ul class="stats-list row-fluid">
                {% for faction in pager.currentPageResults %}
                    <li>
                        <div class="row-fluid">
                            <div class="span3">
                                <a href="{{ path('faction_stats', { slug: faction.slug }) }}">
                                    {{ faction }}
                                </a>
                            </div>
                            <div class="span2">
                                {{ loop.index + (pager.currentPage-1)*pager.maxPerPage }}
                            </div>
                            <div class="span2">
                                {{ faction.score }}
                            </div>
                            <div class="span2">{{ faction.players|length }}</div>
                            <div class="span2">{{ faction.power }}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}