{% extends "::base.html.twig" %}

{% block title %}
    Players stats
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'stats'} %}
{% endblock %}

{% block body %}
    <div class="players-stats">
        <h2><i class="icon-bar-chart"></i> {% trans %}Players stats{% endtrans %}</h2>

        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'players_stats_paginated'}) }}
        {% endif %}

        <div class="row-fluid content">
            <div class="span12">
                <header class="stat-list-head row-fluid">
                    <div class="offset1 span2">
                        <i class="icon-male"></i>
                        {% trans %}Player{% endtrans %}
                    </div>
                    <div class="span2">
                        <i class="icon-screenshot"></i>
                        {% trans %}Kills{% endtrans %}
                    </div>
                    <div class="faction span4">
                        <i class="icon-group"></i>
                        {% trans %}Faction{% endtrans %}
                    </div>
                    <div class="span2">
                        <i class="icon-user"></i>
                        {% trans %}Role{% endtrans %}
                    </div>
                </header>
                <ul class="stats-list row-fluid">
                    {% for player in pager.currentPageResults %}
                        <li>
                            <div class="row-fluid">
                                <div class="span1">
                                    {% if player.user.avatar is defined %}
                                        <img src="/avatars/{{ player.user.avatarPath }}" width="30px" height="30px">
                                    {% else %}
                                        <img src="/bundles/ovskiminecraftwebsite/images/minehead.png" width="30px" height="30px">
                                    {% endif %}
                                </div>
                                <div class="span2"><a href="{{ path('player_stats', { pseudo: player.pseudo }) }}">{{ player.pseudo }}</a></div>
                                <div class="span2">{{ player.kills }}</div>
                                <div class="faction span4">
                                    {% if player.faction %}
                                        <span>
                                            <a href="{{ path('faction_stats', { slug: player.faction.slug }) }}">{{ player.faction }}</a>
                                        </span>
                                    {% else %}
                                        <span class="loner">
                                            {% trans %}without faction{% endtrans %}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="span2">
                                    {% if player.role %}
                                        {{ player.role | capitalize | trans }}
                                    {% elseif player.faction %}
                                        {% trans %}Member{% endtrans %}
                                    {% else %}
                                        /
                                    {% endif %}
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if pager.currentPageResults|length >= 10 %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'players_stats_paginated'}) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
