{% if active is not defined %}
  {% set active = null %}
{% endif %}

<div class="navbar {{ app.request.locale }} 
     {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        logout
     {% else %}
        login
     {% endif%}
">
    <div class="navbar-inner span8">
        <ul class="nav">
            <li {% if active == 'home' %} class="current" {% endif %}>
                <a href="{{ path('home') }}">
                    {% trans %}Home{% endtrans %}
                </a>
            </li>
            <li class="parent{% if active == 'stats' %} current{% endif %}">
                <a>Stats</a>
                <ul class="nav">
                    <li>
                        <a href="{{ path('players_stats') }}">
                            {% trans %}Players{% endtrans %}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('factions_stats') }}">
                            {% trans %}Factions{% endtrans %}
                        </a>
                    </li>
                </ul>
            </li>
            <li {% if active == 'about' %} class="current" {% endif %}>
                <a href="#">
                    {% trans %}About us{% endtrans %}
                </a>
            </li>
            <li {% if active == 'contact' %} class="current" {% endif %}>
                <a href="{{ path('contact') }}">
                    {% trans %}Contact{% endtrans %}
                </a>
            </li>
            <li {% if active == 'map' %} class="current" {% endif %}>
                <a href="{{ path('map') }}">
                    {% trans %}Map{% endtrans %}
                </a>
            </li>
            <li {% if active == 'server' %} class="current" {% endif %}>
                <a href="#">
                    {% trans %}Server{% endtrans %}
                </a>
            </li>
            <li {% if active == 'forum' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_forum_categories') }}">
                    {% trans %}Forum{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
    {% if app.user is not null and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="navbar-inner span3">
            <ul class="nav">
                <li>
                    <a href="{{ path('fos_user_security_logout') }}" title="{% trans %}Log{% endtrans %}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_profile_show') }}" title="{% trans %}Profile{% endtrans %}">
                        {% trans %}Profile{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
    {% else %}
        <div class="navbar-inner span2">
            <ul class="nav">
                <li>
                    <a href="{{ path('fos_user_security_login') }}" title="{% trans %}Log in{% endtrans %}">
                        {% trans %}Log in{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
