{% extends "::base.html.twig" %}

{% block title %}
    {% trans %}Home{% endtrans %}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'home'} %}
{% endblock %}

{% block body %}

    <h2>Bienvenue sur clash of factions!</h2>

    <div class="home">
      <img class="weapons" src="{{ asset("bundles/ovskiminecraftwebsite/images/weapons.png") }}"/>
      <p>
          Commencez l'aventure sur notre <strong>serveur minecraft</strong> dédié aux guerres de factions! Attention: guerres et pillage, alliances et trahisons.. tous les coups sont permis! Protéger vous bien et combattez sans relâche pour espérer devenir la meilleure faction.
      </p>
      <p>
          Ce site est actuellement en plein développement. Pendant l'accès à la bêta, vous êtes invité à remonter tous les bugs et problèmes rencontrés, à la fois sur le site et sur le serveur minecraft. N'hésitez pas non plus à tester ce site sur vos smartphones! Vous pouvez nous écrire par <a href="{{ path('contact') }}">mail</a>. Une suggestion? Ecrivez-nous également. Un forum permettant plus d'échanges ouvrira prochainement.
      </p>

      <h3>Let's play!</h3>

      <img class="key" src="{{ asset("bundles/ovskiminecraftwebsite/images/key.jpg") }}"/>
      <p>
          Pour commencer à jouer, vous avez besoin d'un compte utilisateur sur ce site. Grâce à ceci, vous aurez des statistiques complètes sur les joueurs et les factions, des informations concernant les relations entre faction et bien plus encore. Analysez vos ennemis, et choisissez bien vos alliés..
      </p>
      <p>
          Une fois inscrit, naviguez sur la page de votre profil. Vous trouverez une clé en bas de page à utiliser sur le serveur minecraft pour vous authentifier. Vous n'en avez besoin que d'une seule fois! Rejoignez le serveur à l'adresse <strong>ovski.net</strong>. Il vous suffira de taper la commande suivante : /password cle_du_serveur et le tour est joué!
      </p>
      <p>
          Pour plus d'information, rendez-vous sur la page dédié au <a href="{{ path('server') }}">serveur</a>
      </p>
    </div>
{% endblock body %}
