{% if active is not defined %}
  {% set active = null %}
{% endif %}

<div class="navbar">
    <div class="navbar-inner span12">
        <ul class="nav">
            <li>
                <a href="{{ path('ovski_forum_moderation') }}">
                    {% trans %}Moderation Panel{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('ovski_forum_forum') }}">
                    {% trans %}Forum{% endtrans %}
                </a>
            </li>
            <li {% if active == 'categories' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_administration_list_categories') }}">
                    {% trans %}Categories{% endtrans %}
                </a>
            </li>
            <li {% if active == 'users' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_administration_users') }}">
                    {% trans %}Moderators{% endtrans %}
                </a>
            </li>
            <li {% if active == 'topics' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_administration_list_closed_topics') }}">
                    {% trans %}Closed topics{% endtrans %}
                </a>
            </li>
            <li {% if active == 'posts' %} class="current" {% endif %}>
                <a href="{{ path('ovski_forum_administration_list_unauthorized_posts') }}">
                    {% trans %}Unauthorized posts{% endtrans %}
                </a>
            </li>
        </ul>
    </div>
</div>
