{% extends '::adminBase.html.twig' %}

{% block body %}
    <h1>{% trans %}Unauthorized post list{% endtrans %}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Topic{% endtrans %}</th>
                <th>{% trans %}Post{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.topic.title }}</td>
                    <td>{{ post.content | bbcode_filter('forum_filter') }}</td>
                    <td>
                        {{ render(controller('OvskiForumBundle:Admin:deletePostForm', {'id': post.id})) }}
                        {{ render(controller('OvskiForumBundle:Admin:authorizedPostForm', {'id': post.id})) }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endblock %}

