{% extends "::base.html.twig" %}

{% block title %}{{ player | capitalize }} stats | MineWeb{% endblock %}

{% block menu %}

    {% include "OvskiWebsiteBundle:Website:menu.html.twig" with {active: 'null'} %}

{% endblock %}

{% block body %}
    <div class="player-stats content">
        <h2>
            <i class="icon-bar-chart"></i>
            <span>{{ player.pseudo|capitalize }}'s Stats</span>
            <img src="https://minotar.net/avatar/{{ player.pseudo }}" width="30px" height="30px">
        </h2>

        <ul class="stat-list">
            {% if player.faction %}
                <li>
                    <i class="icon-group"></i> Faction :
                    <a href="{{ path('faction_stats', { slug: player.faction.slug }) }}">
                        {{ player.faction }}
                    </a>
                </li>
            {% else %}
                <li><i class="icon-group"></i> Faction : {{ player }} is a loner
            {% endif %}

            <li>
                <i class="icon-screenshot"></i> Kills : {{ player.kills }}
            </li>
            <li>
                <i class="icon-heart"></i> Prestige : {{ player.prestige }}
            </li>
            <li>
                <i class="icon-bolt"></i> Power :
                {% if player.power %}
                    {{ player.power }}
                {% else %}
                    0
                {% endif %}
            </li>
            <li>
                <i class="icon-legal"></i> BrokenBlocks : {{ player.brokenBlocks }}
            </li>
            <li><i class="icon-wrench"></i> PlacedBlocks : {{ player.placedBlocks }}</li>
            <li><i class="icon-comments"></i> Verbosity : {{ player.verbosity }}</li>
            <li><i class="icon-warning-sign"></i> Deaths by accident : {{ player.stupidDeaths }}</li>
            <li><i class="icon-remove-sign"></i> Pvp deaths : {{ player.pvpDeaths }}</li>
            <li><i class="icon-time"></i> Played time : {{ playedTime }} seconds</li>
        </ul>
    </div>
{% endblock %}
