{% extends "::base.html.twig" %}

{% block menu %}

    {% include "OvskiWebsiteBundle:Website:menu.html.twig" with {active: 'null'} %}

{% endblock %}

{% block body %}

    <h2>{{ player.pseudo|capitalize }}'s Stats</h2>

    <ul>
        {% if player.faction %}
            <li>Faction : <a href="{{ path('faction_stats', { name: player.faction }) }}">{{ player.faction }}</a></li>
        {% else %}
            <li>Faction : {{ player }} is a loner
        {% endif %}
                
        <li>Kills : {{ player.kills }}</li>
        <li>Prestige : {{ player.prestige }}</li>
        <li>Power :
            {% if player.power %}
                {{ player.power }}
            {% else %}
                0
            {% endif %}
        </li>
        <li>BrokenBlocks : {{ player.brokenBlocks }}</li>
        <li>PlacedBlocks : {{ player.placedBlocks }}</li>
        <li>Verbosity : {{ player.verbosity }}</li>
        <li>Deaths by accident : {{ player.stupidDeaths }}</li>
        <li>Pvp deaths : {{ player.pvpDeaths }}</li>
        <li>Played time : {{ playedTime }} seconds</li>
    </ul>

    <a href="{{ path("players_stats") }}">Go back to the stats board</a>
{% endblock %}
