{% extends "::base.html.twig" %}

{% block menu %}

    {% include "OvskiWebsiteBundle:Website:menu.html.twig" with {active: 'stats'} %}

{% endblock %}

{% block body %}

    <h2><i class="icon-bar-chart"></i> Players stats</h2>

    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'players_stats_paginated'}) }}
    {% endif %}
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span4"><i class="icon-male"></i> Players</div>
        <div class="span2"><i class="icon-screenshot"></i> Kills</div>
        <div class="span3"><i class="icon-group"></i> Faction</div>
        <div class="span1"><i class="icon-user"></i> Role</div>
    </div>
    <ul class="player-list">
        {% for player in pager.currentPageResults %}
            <li>
                <div class="row-fluid">
                    <div class="span2"><img src="https://minotar.net/avatar/{{ player.pseudo }}" width="30px" height="30px"></div>
                    <div class="span4"><a href="{{ path('player_stats', { pseudo: player.pseudo }) }}">{{ player.pseudo }}</a></div>
                    <div class="span2">{{ player.kills }}</div>
                    <div class="span3">
                        {% if player.faction %}
                            <span>
                                <a href="{{ path('faction_stats', { name: player.faction }) }}">{{ player.faction }}</a>
                            </span>
                        {% else %}
                            <span class="loner">whitout faction</span>
                        {% endif %}
                    </div>
                    <div class="span1">
                        {% if player.role %}
                            {{ player.role | capitalize }}
                        {% elseif player.faction %}
                            Member
                        {% else %}
                            /
                        {% endif %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
