{% extends "::base.html.twig" %}

{% block stylesheets %}
        {{ parent() }}
        {# <link rel="stylesheet" type="text/css" href="{{ asset("bundles/ovskiwebsite/css/map_page.css") }}"/> #}
{% endblock %}

{% block menu %}

    {% include "OvskiWebsiteBundle:Website:menu.html.twig" with {active: 'stats'} %}

{% endblock %}

{% block body %}

    <h2>Players stats</h2>

    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'players_stats_paginated'}) }}
        {# {{ pagerfanta(pager, 'default', {'routeName': 'players_stats_paginated'}) }} #}
    {% endif %}
    
    <table>
        <thead>
            <tr>
                <th colspan="2">Pseudo</th>
                <th>Kills</th>
            <tr>
        </thead>
        <tbody>
            {% for player in pager.currentPageResults %}
                <tr>
                    <td><img src="https://minotar.net/avatar/{{ player.pseudo }}" width="30px" height="30px"></td>
                    <td><a href="{{ path('player_stats', { pseudo: player.pseudo }) }}">{{ player.pseudo }}</a></td>
                    <td>{{ player.kills }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
