{% extends "::base.html.twig" %}

{% block title %}
    Forum - {{ category_name }}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'forum'} %}
{% endblock %}

{% block body %}
    <div class="player-stats content">
        <h2>Forum - {{ category_name }}</h2>
        {% if topics is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Author</th>
                    <th>Nb</th>
                    <th>Last post</th>
                </tr>
            </thead>
            <tbody>
                {% for topic in topics %}
                    <tr>
                        <td>
                            <a href="{{ path('topic', { categorySlug: category_slug, topicSlug: topic.slug }) }}">
                                {{ topic.title }}
                            </a>
                        </td>
                        <td>{{ topic.author }}</td>
                        <td>{{ topic.posts | length}}</td>
                        <td>{{ topic.updatedAt | date("d/m/Y h\\hi") }}</td>    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
                There are no topics in this category
        {% endif %}
        <a href="{{ path('topic_new', { categorySlug: category_slug }) }}">Create a topic</a>
        <a href="{{ path('forum') }}">Go back to the forums list</a>
    </div>
{% endblock %}
