{% extends "::base.html.twig" %}

{% block title %}
    Forum - {{ category.name }}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'forum'} %}
{% endblock %}

{% block body %}
    <div class="player-stats content">
        <h2>Forum - {{ category.name }}</h2>
        {% if category.topics is not empty %}
        <ul class="topic-list">
            {% for topic in category.topics %}
                <li>
                    <a href="{{ path('topic', { categorySlug: category.slug, topicSlug: topic.slug }) }}">
                        {{ topic.title }}
                    </a>
                    <span>{{ topic.author }}</span>
                    <span>nombre de messages : {{ topic.posts | length}}</span>
                    <span>dernier message: --- todo ---</span>
                </li>
            {% endfor %}
        </ul>
        {% else %}
                There are no topics in this category
        {% endif %}
        <a href="{{ path('topic_new', { categorySlug: category.slug }) }}">Create a topic</a>
        <a href="{{ path('forum') }}">Go back to the forums list</a>
    </div>
{% endblock %}
