{% extends "::base.html.twig" %}

{% block title %}
    Forum - {{ category_name }}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'forum'} %}
{% endblock %}

{% block body %}
    <div class="forum-category content">
        <h2>Forum - {{ category_name }}</h2>
        {% if pager.currentPageResults is not empty %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'ovski_forum_forum_category_paginated', 'routeParams' : { 'categorySlug': category_slug } }) }}
            {% endif %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Subject</th>
                        <th>Author</th>
                        <th>Posts</th>
                        <th>Last post</th>
                        {% if app.user.hasRole("ROLE_MODERATOR") %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for topic in pager.currentPageResults %}
                        <tr>
                            <td>
                                {% if topic.closed %}
                                    <i class="icon-folder-close"></i>
                                {% else %}
                                    <i class="icon-folder-open"></i>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('ovski_forum_forum_topic', { 'categorySlug': category_slug, 'topicSlug': topic.slug }) }}">
                                    {{ topic.title }}
                                </a>
                            </td>
                            <td>
                                <a{% if topic.author.hasRole("ROLE_MODERATOR") %} class="moderator"{% endif %}>
                                    {{ topic.author }}
                                </a>
                            </td>
                            <td>{{ topic.numPosts }}</td>
                            <td>{{ topic.updatedAt | date("d/m/Y H\\hi") }}</td>
                            <td>
                                {% if is_granted("ROLE_MODERATOR") %}
                                    {% if not topic.closed %}
                                        {{ render(controller('OvskiForumBundle:Moderation:editTopicStatusForm', {'id': topic.id, 'categorySlug': category_slug, 'status': 'closed' })) }}
                                    {% else %}
                                        {{ render(controller('OvskiForumBundle:Moderation:editTopicStatusForm', {'id': topic.id, 'categorySlug': category_slug, 'status': 'open' })) }}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
                There are no topics in this category
        {% endif %}

        {% if pager.currentPageResults|length >= 15 %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'ovski_forum_forum_category_paginated', 'routeParams' : { 'categorySlug': category_slug } }) }}
            {% endif %}
        {% endif %}
     
        <h3>Create a new topic</h3>
        {{ form(form) }}

    </div>
{% endblock %}
