{% extends '::base.html.twig' %}

{% block body %}
    <div class="forum-topic content">
        <h1><span>Topic :</span> {{ topic_title }}</h1>

        {% if posts is not empty %}
        <h2>The last 
            {% if posts|length > 1 %}
                {{ posts|length }} posts
            {% else %}
                post
            {% endif %}
            on this topic
        </h2>
        <section>
            <ul class="posts-list">
                {% for post in posts|reverse %}
                    <li>
                        <article>
                            <header>
                                <a>{{ post.author }}</a> - {{ post.createdAt | date("d/m/Y H\\hi") }}
                            </header>
                            <div>
                                {{ post.content | bbcode_filter('forum_filter') }}
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
            
        <h2 id="form">Answer on this topic</h2>
        {{ form(form) }}

        <br /><a href="#">Back to the list</a>
    </div>
{% endblock %}
