{% extends "::base.html.twig" %}

{% block title %}
    Topic - {{ topic_title }}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'forum'} %}
{% endblock %}

{% block body %}
    <div class="forum-topic content">
        <h2><span>{% trans %}Topic :{% endtrans %}</span> {{ topic_title }}</h2>
        {% if pager.currentPageResults is not empty %}
            <section>
                {% if pager.haveToPaginate %}
                    {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'ovski_forum_forum_topic_paginated', 'routeParams' : { 'categorySlug': category_slug, 'topicSlug': topic_slug } }) }}
                {% endif %}
                <ul class="posts-list">
                    {% for post in pager.currentPageResults %}
                        <li>
                            <article>
                                <header>
                                    <span>
                                        <a{% if post.author.hasRole("ROLE_MODERATOR") %} class="moderator"{% endif %}>
                                            {{ post.author }}
                                        </a>
                                        -
                                        {{ post.createdAt | date("d/m/Y H\\hi") }}
                                    </span>
                                    <span class="pull-right">
                                        {% if is_granted("ROLE_MODERATOR") %}
                                            {{ render(controller('OvskiForumBundle:Moderation:unauthorizePostForm', {'id': post.id, 'categorySlug': category_slug, 'topicSlug': topic_slug })) }}
                                        {% endif %}
                                    </span>
                                </header>
                                <div>
                                    {{ post.content | bbcode_filter('forum_filter') }}
                                </div>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% else %}
                {% trans %}There are no post in this topic{% endtrans %}
        {% endif %}

        {% if pager.currentPageResults|length >= 3 %}
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap', {'routeName': 'ovski_forum_forum_topic_paginated', 'routeParams' : { 'categorySlug': category_slug, 'topicSlug': topic_slug } }) }}
            {% endif %}
        {% endif %}

        {% if not topic_closed or app.user.hasRole("ROLE_MODERATOR") %}
            <a href="{{ path('ovski_forum_forum_post_new', { categorySlug: category_slug, topicSlug: topic_slug }) }}#form">
                {% trans %}Add a new post{% endtrans %}
            </a>
        {% else %}
            {% trans %}This topic is closed{% endtrans %}
        {% endif %}
        <a href="{{ path('ovski_forum_forum_category', { categorySlug: category_slug }) }}">
            {% trans %}Go back to the category{% endtrans %} {{ category_slug }} TO CHANGE CATEGORY SLUG
        </a>
    </div>
{% endblock %}