{% extends "::base.html.twig" %}

{% block title %}
    Forum - {{ topic.title }}
    {{ parent() }}
{% endblock %}

{% block menu %}
    {% include "OvskiMinecraftWebsiteBundle::menu.html.twig" with {active: 'forum'} %}
{% endblock %}

{% block body %}
    <div class="forum-topic content">
        <h2><span>Topic :</span> {{ topic.title }}</h2>
        {% if topic.posts is not empty %}
        <section>
            <ul class="posts-list">
                {% for post in topic.posts %}
                    <li>
                        <article>
                            <header>
                                <a>{{ post.author }}</a> - {{ post.createdAt | date("d/m/Y H\\hi") }}
                            </header>
                            <div>
                                {{ post.content | nl2br | bbcode_filter('my_default_filter') }}
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% else %}
                There are no post in this topic
        {% endif %}
        <a href="{{ path('post_new', { categorySlug: topic.category.slug, topicSlug: topic.slug }) }}#form">Add a new post</a>
        <a href="{{ path('category', { categorySlug: topic.category.slug }) }}">Go back to the topic list</a>
    </div>
{% endblock %}